<div id="carouselExampleCaptions" class="carousel slide h-carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("img-bg-1.jpg", class: "d-block w-100 image-gray ") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-warning display-4">Nhiều Chương Trình Đào Tạo Đang Chờ Bạn</h5>
        <p class="text-warning">
          Học viên được cung cấp kiến thức bởi các chuyên gia giáo dục hàng đầu
        </p>
        <%= link_to "Đăng ký ngay!", new_user_registration_path, 
          class: "btn btn-primary mt-5" %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("img-bg-2.jpg", class: "d-block w-100 image-gray") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-warning display-4">Chất Lượng Đỉnh Cao Của Giáo Dục</h5>
        <p class="text-warning">
          Rất nhiều học viên đã thành công với môi trường giáo dục tốt của chúng tôi
        </p>
        <%= link_to "Đăng ký ngay!", new_user_registration_path, 
          class: "btn btn-primary mt-5" %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("img-bg-3.jpg", class: "d-block w-100 image-gray") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-warning display-4">Cộng Đồng Học Cùng</h5>
        <p class="text-warning">
          Trở thành một phần của chúng tôi và kết nối bạn bè
        </p>
        <%= link_to "Đăng ký ngay!", new_user_registration_path, 
          class: "btn btn-primary mt-5" %>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <section class="section section-lg bg-gray-100">
    <div class="container">
      <div class="row row-50 justify-content-center justify-content-lg-between">
        <div class="col-12">
          <h3 class="h-custom-1 f1">Một Vài Điều Về Chúng Tôi</h3>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-3 wow fadeIn">
          <p>
            Tại Trung tâm online, chúng tôi hướng đến cung cấp chất lượng cao về 
            học tập, đảm bảo kiến thức cần thiết cho người học đi xin việc. Các 
            khoá học được cung cấp bởi các giảng viên có kinh nghiệm về giáo dục
          </p>
          <%= link_to "Đọc tiếp", about_path, class: "button button-primary" %>
        </div>
        <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay=".2s">
          <!-- Linear progress bar-->
          <article class="progress-linear">
            <div class="progress-header">
              <p>Ngôn Ngữ Ruby</p><span class="progress-value">75</span>
            </div>
            <div class="progress-bar-linear-wrap">
              <div class="progress-bar-linear"></div>
            </div>
          </article>
          <!-- Linear progress bar-->
          <article class="progress-linear">
            <div class="progress-header">
              <p>Rails</p><span class="progress-value">33</span>
            </div>
            <div class="progress-bar-linear-wrap">
              <div class="progress-bar-linear"></div>
            </div>
          </article>
          <!-- Linear progress bar-->
          <article class="progress-linear">
            <div class="progress-header">
              <p>Kỹ Thuật Máy Tính</p><span class="progress-value">88</span>
            </div>
            <div class="progress-bar-linear-wrap">
              <div class="progress-bar-linear"></div>
            </div>
          </article>
          <!-- Linear progress bar-->
          <article class="progress-linear">
            <div class="progress-header">
              <p>Lập Trình</p><span class="progress-value">75</span>
            </div>
            <div class="progress-bar-linear-wrap">
              <div class="progress-bar-linear"></div>
            </div>
          </article>
          <!-- Linear progress bar-->
          <article class="progress-linear">
            <div class="progress-header">
              <p>Điện Tử</p><span class="progress-value">50</span>
            </div>
            <div class="progress-bar-linear-wrap">
              <div class="progress-bar-linear"></div>
            </div>
          </article>
        </div>
        <div class="col-xl-4 wow fadeIn" data-wow-delay=".4s">
          <%= image_tag("students.jpg") %>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container jumbotron">
  <!-- Featured Projects-->
  <section class="section section-lg bg-default text-center">
    <div class="container">
      <h2 class="wow fadeIn">Các Khoá Học</h2>
      <div class="row row-30 row-md-50 row-xl-70">
        <% @courses.each do |course| %>
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <!-- Post Minimal-->
            <div class="post-minimal">
              <figure class="post-minimal-media">
                <%= link_to course.description.html_safe, course,
                  class: "text-muted image-course" %>
              </figure>
              <h4 class="post-minimal-title"><a href="#"><%= link_to course.course_name, course %></a></h4>
              </p>
            </div>
          </div>
        <% end %>
      </div>
        <%= link_to "Xem Toàn Bộ Các Khoá Học", courses_path, class: "button button-lg button-primary wow fadeIn" %>
    </div>
  </section>
</div>

<div class="container">
  <!-- Latest Blog Posts-->
  <section class="section section-lg bg-default text-center">
    <div class="container">
      <h2 class="wow fadeIn">Các Các Bài Viết</h2>
      <div class="row row-30 justify-content-center">
        <div class="col-sm-10 col-md-6 wow fadeIn">
          <!-- Post Light--><a class="post-light context-dark" href="#" style="background-image: url(images/grid-blog-1-570x350.jpg);">
            <div class="post-light-inner">
              <div class="badge">News</div>
              <div class="post-light-main">
                <time class="post-light-time" datetime="2019">July 5, 2020, at 12:07 pm</time>
                <h4 class="post-light-title">Campus Opening Convocation</h4>
              </div>
            </div></a>
        </div>
        <div class="col-sm-10 col-md-6 wow fadeIn" data-wow-delay=".2s">
          <!-- Post Light--><a class="post-light context-dark" href="#" style="background-image: url(images/grid-blog-2-570x350.jpg);">
            <div class="post-light-inner">
              <div class="badge">News</div>
              <div class="post-light-main">
                <time class="post-light-time" datetime="2019">July 5, 2020, at 12:07 pm</time>
                <h4 class="post-light-title">Freshman Matriculation Ceremony at Bradston College</h4>
              </div>
            </div></a>
        </div>
        <div class="col-sm-10 col-md-6 wow fadeIn">
          <!-- Post Light--><a class="post-light context-dark" href="#" style="background-image: url(images/grid-blog-3-570x350.jpg);">
            <div class="post-light-inner">
              <div class="badge">News</div>
              <div class="post-light-main">
                <time class="post-light-time" datetime="2019">July 5, 2020, at 12:07 pm</time>
                <h4 class="post-light-title">Bradston College Leadership Academy</h4>
              </div>
            </div></a>
        </div>
        <div class="col-sm-10 col-md-6 wow fadeIn" data-wow-delay=".2s">
          <!-- Post Light--><a class="post-light context-dark" href="#" style="background-image: url(images/grid-blog-4-570x350.jpg);">
            <div class="post-light-inner">
              <div class="badge">News</div>
              <div class="post-light-main">
                <time class="post-light-time" datetime="2019">July 5, 2020, at 12:07 pm</time>
                <h4 class="post-light-title">Incoming Freshmen Gather for Blueprints: Photo Gallery</h4>
              </div>
            </div></a>
        </div>
      </div><a class="button button-lg button-primary-gradient wow fadeIn" href="#" data-wow-delay=".2s"><span>View all blog posts</span></a>
    </div>
  </section>
</div>