<%= form_for(@lesson) do |f| %>
  <div class="field">
    <%= f.label :title, t(".title") %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
   <div class="field">
    <%= f.label :content, t(".content") %>
    <%= f.cktext_area :content, class: "form-control" %>
  </div>
  <div class="field mt-3">
    <%= f.label :course, t(".course") %>
     <span>
      <%= f.select :course_id, @courses.map { |c| [c.course_name, c.id] },
        prompt: t(".select_course") %>
    </span>
  </div> 

  <div class="field mt-3">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
