<div class="row">
  <div class="col-md-12">
    <h3 class="text-center"><%= @course.course_name %></h3>
  </div>
</div>
<div class="row jumbotron mt-3">
  <div class="col-md-8 offset-md-2">
    <div class="row">
      <div class="col-md-12">
       <h3 class="text-center"><%= @course.course_name %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 offset-md-3">
        <h5>
          <%= @lesson.title %>
        </h5>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <%= @lesson.content.html_safe %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7 offset-md-3">
     <% @homeworks.each do |homework| %>
      <p>
         <%= link_to homework.name, homework_path(id: homework.id) %>
      </p>
    <% end %>
  </div>
</div>
<%= link_to "next lesson", lesson_path(id: @next_lesson.id, course_id: @course.id) %>
