<%= form_for(@course) do |f| %>
  <%= render "shared/errors", object: @course %>
  <div class="field">
    <%= f.label :course_name, t(".course_name") %>
    <%= f.text_field :course_name, class: "form-control" %>
  </div>
  <div class="field mt-3">
    <%= f.label :description, t(".description") %>
    <%= f.cktext_area :description, class: "form-control" %>
  </div>
  <div class="field mt-2">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
