<div class="animated">
  <header class="page-header">
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static rd-navbar--is-stuck" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
        <div class="rd-navbar-main-outer">
          <div class="rd-navbar-main">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
              <!-- RD Navbar Brand-->
              <div class="rd-navbar-brand">
                <%= link_to "Training system", root_path, class: "brand" %> 
              </div>
            </div>
            <div class="rd-navbar-nav-wrap toggle-original-elements">
              <!-- RD Navbar Nav    -->
              <ul class="rd-navbar-nav float-right">
                <li class="rd-nav-item">
                  <%= link_to t(".home"), root_path, class: "rd-nav-link text-" %>
                </li>
                <li class="rd-nav-item">
                  <%= link_to t(".about"), about_path, class: "rd-nav-link" %>
                </li>
                <li class="rd-nav-item">
                  <%= link_to t(".contact"), contact_path, class: "rd-nav-link" %>
                </li>
                <% if signed_in? %>
                  <%= render "layouts/login_nav" %>
                <% else %>
                  <%= render "layouts/nav" %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
